.panel-arabica {
  border-color: #ff7f50;
}

.panel-arabica .panel-heading {
  background-color: #9e352d;
  color: white;
}

.panel-robusta {
  border-color: #ff6347;
}

.panel-robusta .panel-heading {
  background-color: #b58c2d;
  color: white;
}

.panel-liberica {
  border-color: #ff4500;
}

.panel-liberica .panel-heading {
  background-color: #2c7561;
  color: white;
}

.panel-excelsa {
  border-color: #ff6347;
}

.panel-excelsa .panel-heading {
  background-color: #7c8fa8;
  color: white;
}



.bean-image {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 120px;
  left: 300px;
}


.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images7.alphacoders.com/422/422027.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

